<nav class="navbar" [class.scrolled]="isScrolled" [class.special-page]="isSpecialPage">
    <div class="container">
        <a class="navbar-brand" href="#home">
            <img src="assets/img/logos/Logo_icon_nav.png" alt="Logo Navbar">
            <p class="logo-name">Taher A.</p>
            <p class="logo-job">developer</p>
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [class.active]="isActive('about')" href="#about" (click)="setCurrent('about')">
                    {{ ts.get('nav.about') | async }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="isActive('skills')" href="#skills" (click)="setCurrent('skills')">
                    {{ ts.get('nav.skills') | async }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="isActive('projects')" href="#projects"
                    (click)="setCurrent('projects')">{{ ts.get('nav.projects') | async }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="isActive('contact')" href="#contact"
                    (click)="setCurrent('contact')">{{ ts.get('nav.contact') | async }}</a>
            </li>
        </ul>
        <div class="lang-switch">
            <button class="lang-btn" (click)="setLanguage('de')" [class.active]="isLanguage('de')">
                DE
            </button>
            <button class="lang-btn" (click)="setLanguage('en')" [class.active]="isLanguage('en')">
                EN
            </button>
        </div>
    </div>
</nav>