<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logos/Logo_icon_nav.png" alt="Logo Navbar">
            <p class="logo-name">Taher A.</p>
            <p class="logo-job">developer</p>
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#why-me">Why Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>