<div class="footer-container">
    <div class="left-part">
        <a routerLink="/imprint">Legal Notice</a>
        <a routerLink="/privacy">Privacy Policy</a>
        <p>© Taher Abdel Megid 2025</p>
    </div>

    <a href="#home" class="footer-logo">
        <img src="assets/img/logos/Logo_icon_nav.png" alt="Logo">
        <p class="logo-name">Taher A.</p>
        <p class="logo-job">developer</p>
    </a>

    <div class="right-part">
        <a href="mailto:Taher-IT@example.com" class="social-icon email">
            <img class="default" src="assets/img/footer/email_footer.png" alt="Email">
            <img class="hover" src="assets/img/footer/email_footer_hover.png" alt="Email">
        </a>
        <a href="https://github.com/Taher-IT" target="_blank" class="social-icon github">
            <img class="default" src="assets/img/footer/github_footer.png" alt="Github">
            <img class="hover" src="assets/img/footer/github_footer_hover.png" alt="Github">
        </a>
        <a href="https://de.linkedin.com/" target="_blank" class="social-icon linkedin">
            <img class="default" src="assets/img/footer/linkedin_footer.png" alt="LinkedIn">
            <img class="hover" src="assets/img/footer/linkedin_footer_hover.png" alt="LinkedIn">
        </a>
    </div>
</div>