<div class="container d-flex justify-content-center align-items-center">
    <div class="grid-box text-center">
        <h2  id="why-me" class="title">Why me</h2>
        <div class="row align-items-center content">
            <div class="col-md-6 d-flex align-items-center left">
                <img src="assets/img/about/Map_icon.png" alt="Location Icon" class="icon me-2">
                <p class="logo"><strong class="p1">I am</strong> located in Hamburg..|</p>
            </div>
            <div class="col-md-6 right">
                <p class="p3">Why are you passionate about coding?  
                    You can include some key traits like: analytical thinking, creativity, persistence and  collaboration.
                    A problem-solving mindset is always nice to have</p>
            </div>
        </div>
        <button class="btn cta-button mt-4">Let's talk</button>
    </div>
</div>
