<div id="about" class="about-section">
    <div class="section-spacer"></div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="grid-box text-center">
            <h2 class="title">{{ ts.get('about.title') |async }}</h2>
            <div class="row align-items-center content">
                <div class="col-md-6 d-flex flex-column align-items-start left">
                    <div class="d-flex align-items-center mb-3">
                        <img [src]="iconUrl" alt="Typing Icon" class="icon me-2" />
                        <p class="logo mb-0">
                            <strong class="p1">{{ ts.get('about.iam') | async }}</strong>
                            <span>{{ typedText }}</span><span class="cursor">|</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 right">
                    <p class="p3">{{ ts.get('about.passion') |async }}
                </div>
            </div>
            <a class="btn cta-button mt-4" href="#contact">{{ ts.get('about.talk') |async }}</a>
        </div>
    </div>
</div>