#about {
  scroll-margin: 128px;
}

.about-section {
  padding-top: 0;
  position: relative;
  margin-top: 40px;

  .grid-box {
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    .cta-button {
      border-radius: 28px !important;
    }

    p {
      color: var(--logo-name);
    }

    .title {
      font-size: 60px;
      padding-bottom: 56px;
      font-family: 'Anta', sans-serif;
      color: var(--logo-job);
    }

    .content {
      width: 100%;
      padding-bottom: 40px;

      .left {
        display: flex;
        align-items: center;

        .icon {
          width: 64px;
          height: 64px;
        }

        p {
          font-size: 20px;
          font-family: 'Josefin Sans', sans-serif;
          white-space: nowrap;

          .p1 {
            color: var(--logo-job);
            font-size: 30px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
          }
        }
      }

      .right {
        font-size: 18px;
        line-height: 1.5;
        text-align: left;

        .p3 {
          color: var(--logo-name);
          font-size: 18px;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 400;
        }
      }
    }

    .cta-button {
      background: transparent;
      color: var(--logo-job);
      border: 2px solid var(--logo-job);
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 10px;
      transition: all 0.3s ease;

      &:hover {
        background: var(--logo-job);
        color: var(--logo-name);
      }
    }
  }
}

.about-section .content,
.about-section .left,
.about-section .right {
  transition: all 0.3s ease;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.7s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (max-width: 991px) {
  .about-section {
    height: auto !important;
    margin-bottom: 200px !important;

    .content {
      gap: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left,
      .right {
        width: 100% !important;
        max-width: 600px;
      }

    }
  }
}

@media (max-width: 767px) {

  .title {
    font-size: 36px !important;
  }

  .icon {
    width: 40px !important;
    height: 40px !important;
  }

  p {
    font-size: 16px !important;
  }

  .p1 {
    font-size: 18px !important;
  }

  .row>.col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
}