<div id="home" class="hero-section">
    <div class="atf-container">
        <div class="social-container">
            <a id="contact"><img></a>
            <div class="social-logos">
                <a href="mailto:Taher-IT@example.com" class="social-icon email">
                    <img class="default" src="assets/img/logos/socials/Email.png" alt="Email Anchor">
                    <img class="hover" src="assets/img/logos/socials/Email-hover.png" alt="Email Anchor">
                </a>
                <a href="https://github.com/Taher-IT" target="_blank" class="social-icon github">
                    <img class="default" src="assets/img/logos/socials/github.png" alt="Github Anchor">
                    <img class="hover" src="assets/img/logos/socials/github-hover.png" alt="Github Anchor">
                </a>
                <a href="https://de.linkedin.com/" target="_blank" class="social-icon linkedin">
                    <img class="default" src="assets/img/logos/socials/Linkedin.png" alt="Linkedin Anchor">
                    <img class="hover" src="assets/img/logos/socials/Linkedin-hover.png" alt="Linkedin Anchor">
                </a>
            </div>
        </div>
        <div class="image-container">
            <img class="heroPic" src="assets/img/hero/01.png" alt="Picture">
            <img class="heroPicBG1" src="assets/img/hero/shape_01.png" alt="Background Shape">
            <img class="heroPicBG2" src="assets/img/hero/shape_02.png" alt="Background Shape">
        </div>
        <div class="info-container">
            <div class="logo-container">
                <img class="logo-default" src="assets/img/logos/logo_icon.png" alt="Logo">
                <img class="logo-hover" src="assets/img/logos/logo_icon_02.png" alt="Logo">
                <p class="logo-name">Taher A.</p>
                <p class="logo-job">developer</p>
            </div>
            <div class="text-container">
                <h1>Taher Abdel Megid</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
    </div>
</div>
<app-header></app-header>