:host {
  display: block;
  position: relative;
}

.hero-section {
  height: 100vh;
  position: relative;

  .atf-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    height: 720px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .image-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      margin-bottom: 50px;

      &:hover {
        .heroPicBG1 {
          opacity: 0;
        }

        .heroPicBG2 {
          opacity: 1;
        }
      }
    }

    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 40px;
      margin-bottom: 80px;

      .logo-container {
        position: relative;
        display: inline-block;
        min-height: 80px;

        img {
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: opacity 0.3s ease;
        }

        .logo-default {
          opacity: 1;
        }

        .logo-hover {
          opacity: 0;
        }

        &:hover {
          .logo-default {
            opacity: 0;
          }

          .logo-hover {
            opacity: 1;
          }
        }

        .logo-name {
          font-family: 'Anta', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: var(--logo-name);
          margin: 0;
          padding: 0;
          display: block;
          text-align: center;
          margin-top: 42px;
        }

        .logo-job {
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 120%;
          color: var(--logo-job);
          margin: 0;
          padding: 0;
          display: block;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }
}

.heroPic {
  height: 780px;
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
}

.heroPicBG1 {
  position: absolute;
  width: 640px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.heroPicBG2 {
  position: absolute;
  width: 640px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

h1 {
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-size: 77px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 10px;
  color: var(--logo-name);
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  text-align: center;
  margin-top: 0;
  color: var(--logo-name);
}

.social-container {
  position: absolute;
  top: 5%;
  right: 0;
  transform: translateY(-50%);

  .social-logos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding-right: 16px;

    .social-icon {
      position: relative;
      display: flex;
      width: 30px;
      height: 30px;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        transition: opacity 0.3s ease;
      }

      .default {
        opacity: 1;
      }

      .hover {
        opacity: 0;
      }

      &:hover {
        .default {
          opacity: 0;
        }

        .hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1430px) {

  .atf-container {
    gap: 8px !important;
  }

  .info-container {
    margin-left: 28px !important;
  }

  .heroPic {
    width: clamp(300px, 35vw, 600px);
    min-width: 80px;
    height: auto;
  }

  .heroPicBG1,
  .heroPicBG2 {
    width: clamp(340px, 40vw, 640px);
    min-width: 100px;
    height: auto;
  }
}

@media (max-width: 1210px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 960px) {
  
}