<div id="projects" class="projects-section">
    <h2 class="section-title">My Projects</h2>

    <div class="project-card-background">
        <div class="project-card-container">
            <div class="project-card">
                <nav class="project-tabs">
                    <a *ngFor="let project of projects; let i = index" (click)="setActiveProject(i)"
                        [class.active]="activeProjectIndex === i">
                        {{ project.name }}
                    </a>
                </nav>

                <div class="project-details">
                    <div class="left-section">
                        <div class="section-with-icon">
                            <img class="section-icon" [src]="projects[activeProjectIndex].description.icon"
                                alt="About icon">
                            <div>
                                <h2>About the project <span class="duration">Duration: {{
                                        projects[activeProjectIndex].duration
                                        }}</span></h2>
                                <p class="description">{{ projects[activeProjectIndex].description.text }}</p>
                            </div>
                        </div>

                        <div class="section-with-icon">
                            <img class="section-icon" [src]="projects[activeProjectIndex].workProcess.icon"
                                alt="Process icon">
                            <div>
                                <h2>How I have organised my work process</h2>
                                <p class="description">{{ projects[activeProjectIndex].workProcess.text }}</p>
                            </div>
                        </div>

                        <div class="section-with-icon" *ngIf="projects[activeProjectIndex].teamwork">
                            <img class="section-icon" [src]="projects[activeProjectIndex].groupExperience.icon"
                                alt="Teamwork icon">
                            <div>
                                <h2>My group work experience</h2>
                                <p class="description">{{ projects[activeProjectIndex].groupExperience.text }}</p>
                            </div>
                        </div>

                        <div class="section-with-icon" *ngIf="!projects[activeProjectIndex].teamwork">
                            <img class="section-icon" [src]="projects[activeProjectIndex].learnt.icon"
                                alt="Learning icon">
                            <div>
                                <h2>What I have learnt</h2>
                                <p class="description">{{ projects[activeProjectIndex].learnt.text }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="right-section">
                        <div class="tech-section">
                            <h3>Technologies</h3>
                            <div class="tech-icons">
                                <img *ngFor="let tech of projects[activeProjectIndex].technologies" [src]="tech"
                                    alt="Technology">
                            </div>
                        </div>

                        <img class="project-image" [src]="projects[activeProjectIndex].image"
                            alt="{{ projects[activeProjectIndex].name }} preview">

                        <div class="project-links">
                            <a [href]="projects[activeProjectIndex].liveLink" target="_blank"
                                class="btn btn-primary">Live
                                Test</a>
                            <a [href]="projects[activeProjectIndex].githubLink" target="_blank"
                                class="btn btn-secondary">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>