<div id="contact" class="contact-section">
    <div class="contact-container">
        <h2 class="contact-title">{{ ts.get('contact.title') | async }}</h2>

        <div class="contact-info">
            <div class="info-left">
                <p>{{ ts.get('contact.speech') | async }}</p>
            </div>

            <div class="info-right">
                <div class="contact-method">
                    <a href="mailto:contact@taher-abdel-megid.de" class="contact-link">
                        <span class="contact-icon email-icon"></span>
                        <span>E-mail: contact&#64;taher-abdel-megid.de</span>
                    </a>
                </div>
                <div class="contact-method">
                    <a href="tel:+4915751234567" class="contact-link">
                        <span class="contact-icon phone-icon"></span>
                        <span>Tel: +49 1575 123 4567</span>
                    </a>
                </div>
            </div>
        </div>
        @if (!showSuccess) {
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">{{ ts.get('contact.name') | async }}</label>
                    <input [(ngModel)]="contactData.name" type="text" id="name" name="name" minlength="2"
                        placeholder="Please enter your Name..." required
                        pattern="^(?=.*[A-Za-zÄÖÜäöüß])[A-Za-zÄÖÜäöüß\s\-']+$" #name="ngModel">
                    @if (!name.valid && name.touched) {
                    <span>{{ ts.get('contact.valName') | async }}</span>
                    }
                </div>
                <div class="form-group">
                    <label for="email">{{ ts.get('contact.email') | async }}</label>
                    <input [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        placeholder="Please enter your Email..." required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel">
                    @if (!email.valid && email.touched) {
                    <span>{{ ts.get('contact.valEmail') | async }}</span>
                    }
                </div>
            </div>

            <div class="form-group message-group">
                <label for="message">{{ ts.get('contact.message') | async }}</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" rows="5" id="message" name="message"
                    placeholder="Hey, how can i help you?" required minlength="10"></textarea>
                @if (!message.valid && message.touched) {
                <span>{{ ts.get('contact.valMessage') | async }}</span>
                }
            </div>

            <div class="privacy-check">
                <div class="checkbox-container">
                    <input type="checkbox" id="privacyCheck" class="checkbox-input" (change)="onCheckboxChange()"
                        required [checked]="isChecked">
                    <label for="privacyCheck" class="checkbox-label">
                        <img [src]="getCheckboxImage()" alt="Checkbox" class="check-icon">
                    </label>
                    <label for="privacyCheck" class="privacy-text">
                        {{ ts.get('contact.checkRead') | async }}
                        <a routerLink="/privacy" class="privacy-link">{{ ts.get('contact.privacy') | async }}</a>
                        {{ ts.get('contact.agree') | async }}
                    </label>
                </div>
                <button type="submit" class="submit-btn" [disabled]="!contactForm.valid || !isChecked || isSending">
                    @if (isSending) {
                    <span>{{ ts.get('contact.sending') | async }}</span>
                    } @else {
                    <span>{{ ts.get('contact.send') | async }}</span>
                    }
                </button>
            </div>
        </form>
        }
        @if (showSuccess) {
        <div class="contact-success">
            <p>{{ ts.get('contact.success') | async }}</p>
        </div>
        }
    </div>
</div>