<div id="skills" class="skills-container">
  <h2 class="skills-title">{{ ts.get('skills.title') |async }}</h2>

  <div class="skills-box-container">

    <div class="skills-box">
      <div *ngFor="let tech of technologies" class="logo-container">
        <img [src]="tech.logo" alt="{{ tech.name }}" class="logo-img">
        <p class="logo-description">{{ tech.description }}</p>
      </div>
    </div>

    <div class="skills-box-right">
      <div class="background-image">
        <p class="learning-text">{{ ts.get('skills.learning') |async }}</p>

        <div class="logo-group">
          <img src="assets/img/skills/Frame_301.png" alt="Logo1" class="logo-small">
        </div>

        <p class="learning-text">{{ ts.get('skills.description') |async }}</p>
      </div>
    </div>
  </div>
</div>