<div class="imprint-container">
    <div class="imprint-content">
        <h1>Imprint</h1>
        <p>imprint works!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nisi in unde earum voluptatibus
            doloribus cum explicabo debitis praesentium possimus facere provident, aspernatur harum doloremque magni
            natus est sunt? Neque?</p>
        <p>imprint works!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nisi in unde earum voluptatibus
            doloribus cum explicabo debitis praesentium possimus facere provident, aspernatur harum doloremque magni
            natus est sunt? Neque?</p>
        <p>imprint works!</p>
        <a routerLink="/" class="back-link">← Back to Home</a>
    </div>
</div>