<app-header></app-header>
<div class="imprint-container">
    <div class="imprint-content">
        <h1>{{ ts.get('imprint.title') | async }}</h1>

        <p>Taher Aboueleyoun Mehany Abdel Megid<br />
            Stübenplatz 3<br />
            21107 Hamburg</p>

        <h2>{{ ts.get('imprint.contact') | async }}</h2>
        <p>Tel: +49 15751234567<br />
            E-Mail: contact&#64;taher-abdel-megid.de</p>

        <p>{{ ts.get('imprint.source') | async }}<a href="https://www.e-recht24.de">e-recht24.de</a></p>

        <a routerLink="/" class="back-link">← {{ ts.get('imprint.backBtn') | async }}</a>
    </div>
</div>