<app-header></app-header>
<div class="privacy-container">
    <div class="privacy-content">
        <h1>{{ ts.get('privacy.title') | async }}</h1>
        <h2>{{ ts.get('privacy.s1.t1') | async }}</h2>
        <h3>{{ ts.get('privacy.s1.h1') | async }}</h3>
        <p>{{ ts.get('privacy.s1.p1') | async }}</p>
        <h3>{{ ts.get('privacy.s1.h2') | async }}</h3>
        <h4>{{ ts.get('privacy.s1.h3') | async }}</h4>
        <p>{{ ts.get('privacy.s1.p2') | async }}</p>
        <h4>{{ ts.get('privacy.s1.h4') | async }}</h4>
        <p>{{ ts.get('privacy.s1.p3') | async }}</p>
        <p>{{ ts.get('privacy.s1.p4') | async }}</p>
        <h4>{{ ts.get('privacy.s1.h5') | async }}</h4>
        <p>{{ ts.get('privacy.s1.p5') | async }}</p>
        <h4>{{ ts.get('privacy.s1.h6') | async }}</h4>
        <p>{{ ts.get('privacy.s1.p6') | async }}</p>
        <p>{{ ts.get('privacy.s1.p7') | async }}</p>
        <h2>{{ ts.get('privacy.s2.t1') | async }}</h2>
        <p>{{ ts.get('privacy.s2.p1') | async }}</p>
        <h3>{{ ts.get('privacy.s2.h1') | async }}</h3>
        <p [innerHTML]="ts.get('privacy.s2.p2') | async"></p>
        <p>{{ ts.get('privacy.s2.p3') | async }}</p>
        <h2>{{ ts.get('privacy.s3.t1') | async }}</h2>
        <h3>{{ ts.get('privacy.s3.h1') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p1') | async }}</p>
        <p>{{ ts.get('privacy.s3.p2') | async }}</p>
        <p>{{ ts.get('privacy.s3.p3') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h2') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p4') | async }}</p>
        <p>
            {{ ts.get('privacy.s3.p5_1') | async }}<br>
            {{ ts.get('privacy.s3.p5_2') | async }}<br>
            {{ ts.get('privacy.s3.p5_3') | async }}
        </p>
        <p>
            {{ ts.get('privacy.s3.p6_1') | async }}<br>
            {{ ts.get('privacy.s3.p6_2') | async }}
        </p>
        <p>{{ ts.get('privacy.s3.p7') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h3') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p8') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h4') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p9') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h5') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p10') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h6') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p11') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h7') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p12') | async }}</p>
        <p>{{ ts.get('privacy.s3.p13') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h8') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p14') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h9') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p15') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h10') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p16') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h11') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p17') | async }}</p>
        <ul>
            <li>{{ ts.get('privacy.s3.ul1') | async }}</li>
            <li>{{ ts.get('privacy.s3.ul2') | async }}</li>
            <li>{{ ts.get('privacy.s3.ul3') | async }}</li>
            <li>{{ ts.get('privacy.s3.ul4') | async }}</li>
        </ul>
        <p>{{ ts.get('privacy.s3.p18') | async }}</p>
        <h3>{{ ts.get('privacy.s3.h12') | async }}</h3>
        <p>{{ ts.get('privacy.s3.p19') | async }}</p>
        <p>{{ ts.get('privacy.s3.p20') | async }}</p>
        <h2>{{ ts.get('privacy.s4.t1') | async }}</h2>
        <h3>{{ ts.get('privacy.s4.h1') | async }}</h3>
        <p>{{ ts.get('privacy.s4.p1') | async }}</p>
        <p>{{ ts.get('privacy.s4.p2') | async }}</p>
        <p>{{ ts.get('privacy.s4.p3') | async }}</p>
        <h3>{{ ts.get('privacy.s4.h2') | async }}</h3>
        <p>{{ ts.get('privacy.s4.p4') | async }}</p>
        <p>{{ ts.get('privacy.s4.p5') | async }}</p>
        <p>{{ ts.get('privacy.s4.p6') | async }}</p>
        <p>{{ ts.get('privacy.source') | async }}<a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
        <a routerLink="/" class="back-link">← {{ ts.get('privacy.backBtn') | async }}</a>
    </div>
</div>